/* 
* * * * * * * * * * * * * * * * * * * * * * * * *
Custom hack file for CANDEV-167 
* * * * * * * * * * * * * * * * * * * * * * * * *
*/

/* Do not stack on mobile (row) */
.right-bar .row-properties-panel-container div[target=selectedTarget] div[ng-repeat="section in widgetsRows"] .row-display-flow-container {
    display: none;
}

body.bee-editor-advanced-user .right-bar .row-properties-panel-container div[target=selectedTarget] div[ng-repeat="section in widgetsRows"] .row-display-flow-container {
    display: inherit;
}

/* Background image (row) */
.right-bar .row-properties-panel-container div[target=selectedTarget] div[ng-repeat="section in widgetsRows"] .background-image-container {
    display: none;
}

body.bee-editor-advanced-user .right-bar .row-properties-panel-container div[target=selectedTarget] div[ng-repeat="section in widgetsRows"] .background-image-container {
    display: inherit;
}

/* Padding (row) */
.right-bar .row-properties-panel-container div[target=selectedTarget] .widgets-section__wrapper:not([ng-repeat="section in widgetsRows"]) .padding-container {
    display: none;
}

body.bee-editor-advanced-user  .row-properties-panel-container div[target=selectedTarget] .widgets-section__wrapper:not([ng-repeat="section in widgetsRows"]) .padding-container {
    display: inherit;
}

/* Border (row) */
.right-bar .row-properties-panel-container div[target=selectedTarget] .widgets-section__wrapper:not([ng-repeat="section in widgetsRows"]) .border-container {
    display: none;
}

body.bee-editor-advanced-user .right-bar .row-properties-panel-container div[target=selectedTarget] .widgets-section__wrapper:not([ng-repeat="section in widgetsRows"]) .border-container {
    display: inherit;
}

/* Full width on mobile (image) */  
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] label[for="fullwidthOnMobile"] {
    display: none;
}

body.bee-editor-advanced-user .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] label[for="fullwidthOnMobile"] {
    display: inherit;
}

/* Dynamic image (image) */  
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] .dynamic-image-container {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] .dynamic-image-container {
    display: inherit;
}

/* Image: content properties - Url */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] .image-selector-container  > div.widget:last-child {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] .image-selector-container  > div.widget:last-child {
    display: inherit;
}

/* Padding: (button, img, etc) */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] div[mailup-bee-common-widgets-padding] {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"] div[mailup-bee-common-widgets-padding] {
    display: inherit;
}

/* Hide content on mobile: (button, img, etc) */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-hide-content-on-mobile] {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-hide-content-on-mobile] {
    display: inherit;
}

/* Border attributes: (button, img, etc) */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-border] {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-border] {
    display: inherit;
}

/* Line Height attributes: (button, img, etc) */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-line-height]  {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-line-height] {
    display: inherit;
}

/* Border Radius attributes: (button, img, etc) */
.right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-border-radius] {
    display: none;
}

body.bee-editor-advanced-user .right-bar .module-properties-panel-container div[target=selectedTarget] .widgets-section div[ng-repeat="section in widgetsRows"]  div[mailup-bee-common-widgets-border-radius] {
    display: inherit;
}

/* Move icon (module) */
body:not(.bee-editor-advanced-user) .left-bar table#contentTable .module-box > .icon-move {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* Move icon (row) */
body:not(.bee-editor-advanced-user) .left-bar table#contentTable .row-container > .icon-move { 
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* Edit Icons (module) */
.left-bar table#contentTable .module-box.selected > ul.edit-icons {
    display: none;
}

body.bee-editor-advanced-user .left-bar table#contentTable .module-box.selected > ul.edit-icons {
    display: inherit;
}

/* Edit Icons (row) */
.left-bar table#contentTable .row-container > ul.edit-icons {
    display: none;
}

body.bee-editor-advanced-user .left-bar table#contentTable .row-container > ul.edit-icons {
    display: inherit;
}

/* Save as template (top-bar) */
.container-fluid > .top-bar ul.dropdown-menu > li:not(:first-child) {
    display: none;
}

body.bee-editor-advanced-user .container-fluid > .top-bar ul.dropdown-menu > li:not(:first-child) {
    display: inherit;
}

/* Show Structure (top-bar) */
.container-fluid > .top-bar .structure-action {
    display: none;
}

body.bee-editor-advanced-user .container-fluid > .top-bar .structure-action {
    display: inherit;
}

/* Delete Icon (title bar) */
.right-bar .properties-panel > .properties-panel__title a.icon-delete {
    display: none;
}

body.bee-editor-advanced-user .properties-panel > .properties-panel__title a.icon-delete {
    display: inherit;
}

/* Duplicate Icon (title bar) */
.right-bar .properties-panel > .properties-panel__title a.icon-duplicate {
    display: none;
}

body.bee-editor-advanced-user .right-bar .properties-panel > .properties-panel__title a.icon-duplicate {
    display: inherit;
}

/* Default Content container */

.right-bar .widget-bar .dist-modules > .comp-tree-nodes > div.panel.panel--default.panel--module  {  
    display: none;
}

body:not(.bee-editor-advanced-user) .right-bar .widget-bar .dist-modules:after {
    content: 'Select an element to see interact with content options.';
    padding: 20px;
    position: relative;
}

body.bee-editor-advanced-user .right-bar .widget-bar .dist-modules > .comp-tree-nodes > div.panel.panel--default.panel--module  {  
    display: inherit;
}

/* Default Rows container */

.right-bar .panel-scroll-container .rows-wrapper > .comp-tree div[ng-model="availableRows"] > .panel--row {  
    display: none;
}

body:not(.bee-editor-advanced-user) .right-bar .panel-scroll-container .rows-wrapper > .comp-tree div[ng-model="availableRows"]:after {
    content: 'Select an element to see interact with row options.';
    padding: 20px;
    position: relative;
}

body.bee-editor-advanced-user .right-bar .panel-scroll-container .rows-wrapper > .comp-tree div[ng-model="availableRows"] > .panel--row {  
    display: inherit;
}

/* Default top right sidebar tabs */

body:not(.bee-editor-advanced-user)  .right-bar .tabset > ul.nav-tabs {
    background: #d6d9dc;
    min-height: 46px;
}

body:not(.bee-editor-advanced-user) .right-bar .tabset > ul.nav-tabs > li:first-child > a {
    border-right: none;
}

body:not(.bee-editor-advanced-user) .right-bar .tabset > ul.nav-tabs > li > a {
    border-right: 1px solid #c0c5c9;
}

body:not(.bee-editor-advanced-user) .right-bar .tabset > ul.nav-tabs > li:last-child > a {
    position: absolute;
    top: -9999px;
    height: 1px;
    overflow: hidden;
}